<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Spindigo
    </string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Spindigo needs your permission to save drawings to your photo library.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Spindigo needs your permission to load drawings from your photo library.</string>
    <key>UIRequiresFullScreen</key>
    <true/>
</dict>
</plist>
